<%- include('partials/header') %>

<div class="centerBox">
  <div class="container">
    <form class="text-center" action="/" method="post">
      <div class="form-floating">
        <input type="text" class="form-control mb-3" name="homeScript" id="floatingInput" placeholder="Enter Your Script">
        <label for="floatingInput">Enter Your Script</label>
      </div>
      <button class="btn btn-primary w-100" type="submit" name="enterScript"> Submit </button>
    </form>
  </div>
</div>



<%- include('partials/footer') %>
