<%- include('partials/header') %>

<div class="centerBox">
  <h1>This is platforms page</h1>
  <form class="text-center" action="/thecreator/platforms" method="post">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" name="platformName" id="floatingPlatformName" placeholder="Enter Your Script">
      <label for="floatingPlatformName">Enter Your Script</label>
    </div>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" name="redirectAddress" id="floatingRedirect" placeholder="Enter Your Script">
      <label for="floatingRedirect">Enter Your Script</label>
    </div>
    <button class="btn btn-primary" type="submit" name="createPlatform"> Submit </button>
  </form>

  <div class="container">
    <div class="d-flex">
      <% foundPlatforms.forEach(item => { %>
        <div class="card m-3" style="width: 18rem;">
        <div class="card-header">
          <%= item.platform %>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">An item</li>
          <li class="list-group-item">A second item</li>
          <li class="list-group-item">A third item</li>
        </ul>
      </div>
      <% }) %>
    </div>
  </div>
</div>





<%- include('partials/footer') %>
