:root {
  --main-color: #78bbe6;
  --second-color: #1b435d;
  --font-color: #d5eeff;
  --icon-color: #ff895d;
  --highlight-color: #f16821;
}

body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--second-color);
  color: var(--font-color);
}


/***************************LANDING PAGE********************************/

.centerBox {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-floating label {
  color: #000;
}

/**************************PLATFORMS************************************/

.platformBox {
  display: flex;
  align-items: flex-start;
}


#v-pills-tab {
  width: 250px;
}

#v-pills-tabContent {
  width: calc(100% - 250px);
  padding-right: 1rem;
}

.header {
  background-color: #343434;
  border-radius: .25rem;
}

#createPlatformForm>.form-floating>.form-control {
  height: calc(2.75rem + 2px) !important;
}

#collapseForm label {
  font-size: .75rem;
  line-height: 1;
}

@media (max-width: 600px) {

  .platformBox {
    flex-direction: column;
  }

  #v-pills-tab {
    width: 100%;
    font-size: .8rem;
  }

  #v-pills-tabContent {
    width: calc(100%);
    font-size: .8rem;
    padding: 1rem;
  }
}

/**************************MESSAGES*************************************/
.card {
  background-color: var(--second-color);
}

.card-body {
  min-height: 136px;
}

.messageCard {
  display: flex;
  justify-content: space-between;
  background-color:#343434;
}

/************************FOOTER PAGE*************************************/
footer {
  padding: 1rem 1rem 0;
  background-color: #343434;
}
